/* COLOR PALETTE */

/*MapContainer sizing React-Leaflet*/
.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
}

.popup-title {
  text-align: center;
}

.popup-image {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
}

.popup-description {
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
